
.header {
    background-color: $default-color;
    position: relative;
    height: auto;

    &__container {
        padding: 0.5rem 1rem;
        max-width: 1920px;

        @media screen and (min-width: 1920px) {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__logo {
        width: 80%;
        max-height: 63px;
        margin: 0 auto;
        
        @media screen and (min-width: 576px) {
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            width: auto;
            margin: 0;
        }
    
        &-picture {
            display: block;
            margin: 0 auto;
    
            @media screen and (min-width: 768px) {
                margin: 0;
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 35%;
        right: 20px;
        cursor: pointer;
        color: #ffffff;
        @include fontSize(25px);

        @media screen and (min-width: 576px) {
            @include fontSize(30px);
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    } 
}

.header-desktop {
    display: none;
    background-color: $default-color;

    @media screen and (min-width: 768px) {
        display: block;
        width: 50%;
        max-width: 560px;
    }

    &__menu {
        height: 63px;
        list-style-type: none;
        text-align: center;
        align-items: end;
        
        &-item {
            padding: 0.6em;
    
            &--member {
                padding: 0;
            }
        }

        &-link {
            font-family: 'Roboto Condensed', sans-serif;
            @include fontSize(20px);
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
    
            &--member {
                color: #ffffff;
                @include fontSize(35px);
            }
        }
    }
}

.header-mobile {
    display: none;
    width: 100%;
    background-color: $default-color;

    &__menu {
        width: 100%;
        list-style-type: none;
        text-align: center;

        &-item {
            width: 100%;
            padding: 0.6em;
            text-transform: uppercase;

            &--member {
                padding: 0;
            }
        }

        &-link {
            font-family: 'Roboto Condensed', sans-serif;
            @include fontSize(20px);
            font-weight: 700;
            color: #ffffff;

            &--member {
                color: #ffffff;
                @include fontSize(35px);
            }
        }
    }

    &__show {
        display: block;
    
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

