.inspiration {

    &__head {
        text-align: center;
        padding: 2rem;
        background-color: $tertiary-color;

        &-title {
            margin-bottom: 15px;
            color: #ffffff;
        }
    }

    &__filter {
        margin: 20px auto;

        &-btn {
            width: 100%;
            margin-top: 10px;
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: $quaternary-color;
            cursor: pointer;

            &:hover {
                background-color: #59817e;
            }

            @media screen and (min-width: 576px) {
                width: 45%;

                &:nth-child(n+3) {
                    margin-top: 15px;
                }
            }

            @media screen and (min-width: 1024px) {
                width: 30%;

                &:nth-child(n+3) {
                    margin-top: 10px;
                }

                &:nth-child(n+4) {
                    margin-top: 15px;
                }
            }

            @media screen and (min-width: 1200px) {
                width: auto;
                margin-top: 30px;

                &:nth-child(n+3) {
                    margin-top: 30px;
                }
            }
        }

        .active {
            background-color: $primary-color;
            color: #ffffff;
        }
    }

    .filterDiv {
        display: none; 
    }
      
    .show {
        display: block;
    }
}




  
