$default-color: #24252a;
$primary-color: #75b2ad;
$secondary-color: #876fab;
$tertiary-color: #425e5e; 
$quaternary-color: #27363b;



img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100% !important;
	max-width: 1400px !important;
	margin: 0 auto !important;

	// Sizes
	&--big {
		max-width: 1600px !important;
	}

	&--full {
		max-width: 1920px !important;
	}
}

.row {
    width: 100% !important;
}

.h-33 {
    height: 33.33% !important;
}

.primary-color {
    background-color: $primary-color !important;
}

.user-avatar {
    width: 50% !important;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 83% !important;
    }

    @media screen and (min-width: 992px) {
        width: 59% !important;
    }

    @media screen and (min-width: 1200px) {
        width: 48% !important;
    }

    @media screen and (min-width: 1400px) {
        width: 41% !important;
    }
}